6. spring framework day 23 to 27/notes and cheetsheets/0. SOAP REST jersey/1. SOAP WS/1. xml & xml processing/sample-code/xml-basics/3. xml schema/name.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:target="http://www.ericsson.com/name" 
	targetNamespace="http://www.example.com/name" 
	elementFormDefault="qualified">
  <element name="name">
    <complexType>
      <sequence>
        <element name="first" type="string"/>
        <element name="middle" type="string"/>
        <element name="last" type="string"/>
      </sequence>
      <attribute name="title" type="string"/>
    </complexType>
  </element>
</schema>
